<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html lang="en">
<body>
<script type="text/javascript">
    function download(path) {
        window.location.replace("/download/" + path.toString());
    }
</script>
{% for i in mod %}
    <p id="{{ i.id }}">
        TEXT:{{ i.text }}
    </p>
    {% if i.file != '' %}
        <p style="color: #447e9b">
            FILE:{{ i.file }}
        </p>
        <input type="button" value="Download"
               onclick="download('{{ i.file }}')">
    {% else %}
        <p>
            NOFILE
        </p>
        <br>
    {% endif %}
    <form method="post" onsubmit="return confirm('Are You Sure?')" action="/delete/{{ i.id }}/">
        {% csrf_token %}
        <input type="submit" value="DELETE">
    </form>
    <hr>
{% endfor %}
<script src="../static/admin/js/sajs.js"></script>
</body>
</html>